In [1]:
import sys
sys.path.append("/home/hugo/projetos-doutorado/Appliance-Energy-Prediction")
import pandas as pd
from pca_fts.PcaWeightedMVFTS import PcaWeightedMVFTS
from pyFTS.benchmarks import Measures
import matplotlib.pyplot as plt
from pyFTS.common import Util
import datetime
import statistics
import math
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

## Aux functions

In [2]:
def sample_first_prows(data, perc=0.75):
    return data.head(int(len(data)*(perc)))

In [3]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [4]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame) 
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

## Dataset Energy Appliance

In [5]:
filename = '/home/hugo/projetos-doutorado/Appliance-Energy-Prediction/data/energydata_complete.csv'
data = pd.read_csv(filename)
data.pop('date')
data.pop('rv1')
data.pop('rv2')
data.dropna(inplace=True)
data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9

In [6]:
values = data.values
values

array([[ 60.        ,  30.        ,  19.89      , ...,   7.        ,
         63.        ,   5.3       ],
       [ 60.        ,  30.        ,  19.89      , ...,   6.66666667,
         59.16666667,   5.2       ],
       [ 50.        ,  30.        ,  19.89      , ...,   6.33333333,
         55.33333333,   5.1       ],
       ...,
       [270.        ,  10.        ,  25.5       , ...,   3.66666667,
         25.33333333,  13.26666667],
       [420.        ,  10.        ,  25.5       , ...,   3.83333333,
         26.16666667,  13.23333333],
       [430.        ,  10.        ,  25.5       , ...,   4.        ,
         27.        ,  13.2       ]])

### Dataset Energy Appliance: columns

In [7]:
cols = data.columns
list_cols = list(cols)
list_cols.append('Appliances_t+1')
print(list_cols)

['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'Appliances_t+1']

### Dataset Energy Appliance: Preprocessing, Lag = 1, t+1

In [8]:
# frame as supervised learning
reframed = series_to_supervised(values, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[[27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51]], axis=1, inplace=True)
#reframed.drop(reframed.columns[[0,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51]], axis=1, inplace=True)
reframed.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var9(t-1),var10(t-1),...,var18(t-1),var19(t-1),var20(t-1),var21(t-1),var22(t-1),var23(t-1),var24(t-1),var25(t-1),var26(t-1),var1(t)
1,60.0,30.0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,60.0
2,60.0,30.0,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,50.0
3,50.0,30.0,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,50.0
4,50.0,40.0,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,60.0
5,60.0,40.0,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,50.0

In [9]:
data = pd.DataFrame(reframed.values,columns=list_cols)
data = clean_dataset(data)
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Appliances_t+1
0,60.0,30.0,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,48.900000,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,60.0
1,60.0,30.0,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,48.863333,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,50.0
2,50.0,30.0,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,48.730000,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,50.0
3,50.0,40.0,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,48.590000,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,60.0
4,60.0,40.0,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,48.590000,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19729,90.0,0.0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,45.626667,...,50.445000,23.200000,46.7450,22.866667,755.2,55.333333,3.166667,22.833333,13.366667,100.0
19730,100.0,0.0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,50.074000,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,90.0
19731,90.0,0.0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,49.790000,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,270.0
19732,270.0,10.0,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,49.660000,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,420.0
19733,420.0,10.0,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,49.518750,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,430.0

## Model: PcaWeightedMVFTS - PCA-MVFTS

In [10]:
pca_wmvfts = PcaWeightedMVFTS(n_components = 2,
                       endogen_variable = 'Appliances_t+1',
                       n_part = 50)

In [14]:
def sliding_window_pca(data,n_windows,train_size,dim,fs):

    result = {
         "window": [],
         "rmse": [],
         "mape": [],
         "smape": [],
         "mae": []
    }

    tam = len(data)
    n_windows = 30
    windows_length = math.floor(tam / n_windows)
    for ct, ttrain, ttest in Util.sliding_window(data, windows_length, 0.75, inc=1):
        if len(ttest) > 0:

#           print('-' * 20)
#           print(f'training window {(ct)}')
            pca_wmvfts = PcaWeightedMVFTS(n_components = dim,
                       endogen_variable = 'Appliances_t+1',
                       n_part = fs)
            model, pca_reduced_train = pca_wmvfts.run_train_model(ttrain)
            forecast, forecast_self, pca_reduced_test = pca_wmvfts.run_test_model(model,ttest)

            #print("[{0: %H:%M:%S}]".format(datetime.datetime.now()) + f" getting statistics")
            rmse = Measures.rmse(pca_reduced_test['Appliances_t+1'],forecast)
            mape = Measures.mape(pca_reduced_test['Appliances_t+1'],forecast)
            smape = Measures.smape(pca_reduced_test['Appliances_t+1'],forecast)
            
            forecast = pd.DataFrame(forecast)
            forecast.fillna(forecast.mean(),inplace=True)
            forecast = np.array(forecast).reshape(-1)
            mae = mean_absolute_error(pca_reduced_test['Appliances_t+1'], forecast)

            # Grafico de comparaÃ§Ã£o Original x Previsto para cada janela
#             fig, ax = plt.subplots(nrows=1, ncols=1, figsize=[15, 3])
#             ax.plot(pca_reduced_test['Appliances_t+1'], label='Original')
#             ax.plot(forecast, label='Forecast')
#             handles, labels = ax.get_legend_handles_labels()
#             lgd = ax.legend(handles, labels, loc=2, bbox_to_anchor=(1, 1))
#             plt.show()

            result["rmse"].append(round(rmse,3))
            result["mape"].append(round(mape,3))
            result["smape"].append(round(smape,3))
            result["mae"].append(round(mae,3))
            result["window"].append(ct)
        
    measures = pd.DataFrame(result)
    return measures

In [15]:
dimensions = [2,3,4,5,6]
fuzzy_sets = [10,20,30,40,50]

final_result = {
    "dimensions": [],
    "fuzzy_sets": [],
    "rmse": [],
    "mae": [],
    "mape": [],
    "smape": []
}

n_windows = 30
train_size = 0.75

for dim in dimensions:
    for fs in fuzzy_sets:
        measures = sliding_window_pca(data,n_windows,train_size,dim,fs)
        final_result["dimensions"].append(dim)
        final_result["fuzzy_sets"].append(fs)
        
        rmse = round(statistics.mean(measures['rmse']),3)
        mape = round(statistics.mean(measures['mape']),3)
        smape = round(statistics.mean(measures['smape']),3)
        mae = round(statistics.mean(measures['mae']),3)
        
        final_result["rmse"].append(rmse)
        final_result["mape"].append(mape)
        final_result["smape"].append(smape)
        final_result["mae"].append(mae)
        
        print(f'Results: {(dim,fs,rmse,mae,mape,smape)}')
        
        
final_measures_pca = pd.DataFrame(final_result) 

print("Statistics PCA-WMVFTS (test): ")
final_measures_pca

Results: (2, 10, 29.821, 20.924, 30.249, 11.769)
Results: (2, 20, 16.157, 8.466, 10.552, 4.56)
Results: (2, 30, 9.359, 4.465, 5.3, 2.288)
Results: (2, 40, 7.666, 3.01, 3.204, 1.315)
Results: (2, 50, 5.504, 2.167, 1.8, 0.731)
Results: (3, 10, 18.63, 9.965, 14.571, 5.544)
Results: (3, 20, 4.975, 2.535, 2.434, 1.091)
Results: (3, 30, 1.471, 1.448, 0.612, 0.292)
Results: (3, 40, 0.849, 1.24, 0.279, 0.133)
Results: (3, 50, 0.505, 1.154, 0.126, 0.059)
Results: (4, 10, 7.496, 3.826, 4.748, 1.99)
Results: (4, 20, 0.954, 1.306, 0.411, 0.196)
Results: (4, 30, 0.294, 1.137, 0.106, 0.048)
Results: (4, 40, 0.131, 1.111, 0.057, 0.025)
Results: (4, 50, 0.075, 1.099, 0.033, 0.014)
Results: (5, 10, 2.559, 1.877, 1.406, 0.623)
Results: (5, 20, 0.251, 1.126, 0.086, 0.039)
Results: (5, 30, 0.096, 1.099, 0.033, 0.014)
Results: (5, 40, 0.046, 1.094, 0.025, 0.009)
Results: (5, 50, 0.042, 1.094, 0.024, 0.009)
Results: (6, 10, 1.366, 1.424, 0.578, 0.27)
Results: (6, 20, 0.117, 1.105, 0.043, 0.019)
Results: (6, 30, 0.051, 1.095, 0.026, 0.01)
Results: (6, 40, 0.04, 1.093, 0.024, 0.009)
Results: (6, 50, 0.04, 1.093, 0.024, 0.009)
Statistics PCA-WMVFTS (test):

    dimensions  fuzzy_sets    rmse     mae    mape   smape
0            2          10  29.821  20.924  30.249  11.769
1            2          20  16.157   8.466  10.552   4.560
2            2          30   9.359   4.465   5.300   2.288
3            2          40   7.666   3.010   3.204   1.315
4            2          50   5.504   2.167   1.800   0.731
5            3          10  18.630   9.965  14.571   5.544
6            3          20   4.975   2.535   2.434   1.091
7            3          30   1.471   1.448   0.612   0.292
8            3          40   0.849   1.240   0.279   0.133
9            3          50   0.505   1.154   0.126   0.059
10           4          10   7.496   3.826   4.748   1.990
11           4          20   0.954   1.306   0.411   0.196
12           4          30   0.294   1.137   0.106   0.048
13           4          40   0.131   1.111   0.057   0.025
14           4          50   0.075   1.099   0.033   0.014
15           5          10   2.559   1.877   1.406   0.623
16           5          20   0.251   1.126   0.086   0.039
17           5          30   0.096   1.099   0.033   0.014
18           5          40   0.046   1.094   0.025   0.009
19           5          50   0.042   1.094   0.024   0.009
20           6          10   1.366   1.424   0.578   0.270
21           6          20   0.117   1.105   0.043   0.019
22           6          30   0.051   1.095   0.026   0.010
23           6          40   0.040   1.093   0.024   0.009
24           6          50   0.040   1.093   0.024   0.009

In [16]:
final_measures_pca

    dimensions  fuzzy_sets    rmse     mae    mape   smape
0            2          10  29.821  20.924  30.249  11.769
1            2          20  16.157   8.466  10.552   4.560
2            2          30   9.359   4.465   5.300   2.288
3            2          40   7.666   3.010   3.204   1.315
4            2          50   5.504   2.167   1.800   0.731
5            3          10  18.630   9.965  14.571   5.544
6            3          20   4.975   2.535   2.434   1.091
7            3          30   1.471   1.448   0.612   0.292
8            3          40   0.849   1.240   0.279   0.133
9            3          50   0.505   1.154   0.126   0.059
10           4          10   7.496   3.826   4.748   1.990
11           4          20   0.954   1.306   0.411   0.196
12           4          30   0.294   1.137   0.106   0.048
13           4          40   0.131   1.111   0.057   0.025
14           4          50   0.075   1.099   0.033   0.014
15           5          10   2.559   1.877   1.406   0.623
16           5          20   0.251   1.126   0.086   0.039
17           5          30   0.096   1.099   0.033   0.014
18           5          40   0.046   1.094   0.025   0.009
19           5          50   0.042   1.094   0.024   0.009
20           6          10   1.366   1.424   0.578   0.270
21           6          20   0.117   1.105   0.043   0.019
22           6          30   0.051   1.095   0.026   0.010
23           6          40   0.040   1.093   0.024   0.009
24           6          50   0.040   1.093   0.024   0.009

In [19]:
final_measures_pca.to_csv (r'pca_wmvfts_dim_fsets.csv', index = False, header=True)