In [3]:
import pandas as pd
import math
import datetime
import statistics
from pyFTS.common import Util
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import numpy as np
import matplotlib.pyplot as plt
from pyFTS.benchmarks import Measures

In [4]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame) 
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

## Dataset Household Power Consumption

In [5]:
filepath = '/home/hugo/projetos-doutorado/Appliance-Energy-Prediction/data/household_power_consumption.csv'
data = pd.read_csv(filepath, sep = ";")
data = data.drop(labels=['Time','Date'], axis=1)
data = data.loc[0: : 30] # 30 minutes
data.dropna(inplace = True)
data = clean_dataset(data)
y_appliance = data['Global_active_power'].values

/home/hugo/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Persistence method - Naive forecasting

In [6]:
# Create a lag feature
var = pd.DataFrame(y_appliance)
dataframe = pd.concat([var.shift(1), var], axis=1)
dataframe.columns = ['t', 't+1']

In [8]:
dataframe

           t    t+1
0        NaN  4.216
1      4.216  2.720
2      2.720  3.452
3      3.452  4.298
4      4.298  3.262
...      ...    ...
68303  1.716  1.556
68304  1.556  1.120
68305  1.120  1.468
68306  1.468  1.082
68307  1.082  0.946

[68308 rows x 2 columns]

In [7]:
# Create a baseline model (Naive model)
def model_persistence(x):
  return x

def test_persistence(test_X):
    predictions = list()
    for x in test_X:
        yhat = model_persistence(x)
        predictions.append(yhat)
    return predictions

## Sliding Window PyFTS:Persistence

In [9]:
result = {
     "window": [],
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

tam = len(dataframe)
n_windows = 30
windows_length = math.floor(tam / n_windows)
for ct, ttrain, ttest in Util.sliding_window(dataframe[1:tam], windows_length, 0.75, inc=1):
    if len(ttest) > 0:
        
        print('-' * 20)
        print(f'training window {(ct)}')
        
        train_X, train_y = ttrain.iloc[:,0], ttrain.iloc[:,1]
        test_X, test_y = ttest.iloc[:,0], ttest.iloc[:,1]
        
        forecast = test_persistence(test_X)
        
        #print("[{0: %H:%M:%S}]".format(datetime.datetime.now()) + f" getting statistics")
        rmse = Measures.rmse(test_y,forecast)
        mape = Measures.mape(test_y,forecast)
        smape = Measures.smape(test_y,forecast)
        mae = mean_absolute_error(test_y, forecast)
        r2 = r2_score(test_y, forecast)
        
        result["rmse"].append(rmse)
        result["mape"].append(mape)
        result["smape"].append(smape)
        result["mae"].append(mae)
        result["r2"].append(r2)
        result["window"].append(ct)
        
measures = pd.DataFrame(result)

--------------------
training window 0
--------------------
training window 2276
--------------------
training window 4552
--------------------
training window 6828
--------------------
training window 9104
--------------------
training window 11380
--------------------
training window 13656
--------------------
training window 15932
--------------------
training window 18208
--------------------
training window 20484
--------------------
training window 22760
--------------------
training window 25036
--------------------
training window 27312
--------------------
training window 29588
--------------------
training window 31864
--------------------
training window 34140
--------------------
training window 36416
--------------------
training window 38692
--------------------
training window 40968
--------------------
training window 43244
--------------------
training window 45520
--------------------
training window 47796
--------------------
training window 50072
--------------------
training window 52348
--------------------
training window 54624
--------------------
training window 56900
--------------------
training window 59176
--------------------
training window 61452
--------------------
training window 63728
--------------------
training window 66004

In [10]:
measures

    window      rmse       mape      smape       mae        r2
0        0  1.173253  63.832047  21.851777  0.715174  0.215967
1     2276  1.097070  56.162451  20.805278  0.638647  0.252628
2     4552  0.911143  80.697309  26.758724  0.532366  0.170269
3     6828  0.855796  86.786904  28.997663  0.443613  0.171121
4     9104  0.659613  62.948013  20.000334  0.309694  0.321457
5    11380  0.971584  74.072213  25.069597  0.557627  0.205047
6    13656  1.117650  58.117336  20.848932  0.636766  0.200619
7    15932  1.079677  51.232242  18.788346  0.666896  0.384027
8    18208  0.959426  55.898488  20.936509  0.558538  0.274738
9    20484  1.009275  59.799137  21.541467  0.571599  0.132012
10   22760  0.944114  71.073337  23.670237  0.534478  0.098525
11   25036  0.826573  88.951770  27.676893  0.475705 -0.123303
12   27312  0.194723  88.512400  31.590355  0.127687 -1.320218
13   29588  1.013105  63.896661  22.949163  0.609821  0.071223
14   31864  1.091229  59.115146  21.532275  0.654671  0.230038
15   34140  0.960532  55.491542  20.172839  0.546538  0.224100
16   36416  1.036824  52.619105  19.558239  0.566000  0.107642
17   38692  1.036086  51.516160  19.312587  0.559128  0.036248
18   40968  0.887253  66.820501  23.511283  0.489223 -0.124820
19   43244  0.499419  70.714847  24.842670  0.293947 -0.052995
20   45520  0.825043  69.958196  24.589491  0.456924  0.143581
21   47796  0.908600  60.932791  22.363435  0.554953  0.221780
22   50072  0.988180  53.268442  20.153381  0.588035  0.210692
23   52348  0.970519  40.804911  15.970872  0.530503  0.257960
24   54624  0.895430  46.729175  18.093380  0.497814  0.127760
25   56900  0.953429  55.339892  20.648990  0.519649 -0.020228
26   59176  0.947231  80.381972  26.262875  0.541986 -0.171645
27   61452  0.405075  79.026490  26.928618  0.243880 -0.484636
28   63728  0.808441  59.674336  21.024445  0.496882  0.125581
29   66004  0.933258  49.442102  18.897617  0.513033  0.161668

### Mean Statistics Persistence:

In [11]:
final_result = {
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

final_result["rmse"].append(statistics.mean(measures['rmse']))
final_result["mape"].append(statistics.mean(measures['mape']))
final_result["smape"].append(statistics.mean(measures['smape']))
final_result["mae"].append(statistics.mean(measures['mae']))
final_result["r2"].append(statistics.mean(measures['r2']))
        
final_measures_persistence = pd.DataFrame(final_result)

print("Mean Statistics Persistence: ")
final_measures_persistence

Mean Statistics Persistence:

       rmse       mape      smape       mae        r2
0  0.898652  63.793864  22.511609  0.514393  0.068228